<div class="col-md-12" align="center">
    <hr>
    <h1>Agronomía urbana y precisión con el Internet de las Cosas.</h1>
</div>
<div class="container">
    <h2>Conferencista:</h2>
    <h3>M.C. Alfonso Ordoñez García</h3>

    <hr>

    <p>
        Hoy en día se está utilizando el internet de las cosas para automatizar procesos por ejemplo, los invernaderos hoy en día están siendo encerrados en lugares en el cual no entre la luz solar y por medio de sensores y actuadores controlar el ambiente para hacer un ambiente ideal para las plantas que ahí residen ya sea aumentando la luz por medio de leds de luz ultravioleta, aumentando el calor que estas ocupan por medio de resistencias o aumentado el agua y nutrientes de las raíces de las plantas.

        También se está desarrollando una cámara hiper-espectral la cual se puede poner en un satélite y esta ayudaría a dar el estado de cierta parte del mundo y avisar de que en cierta parte hay un incendio o está ocurriendo algún tipo de desastre natural. También se podrá ver la composición de los materiales de algún lugar en el planeta esto ayudaría a encontrar petróleo y otros materiales de gran valor.

        La cámara ya existe, pero estas son demasiadas caras y no son muy accesibles.
    </p>
</div>