
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner col-md-12" role="listbox" align="center">
        <div class="carousel-item active col-md-8" >
            <img class="d-block img-fluid" src="./img/1.jpg" alt="First slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/2.jpg" alt="Second slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/3.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/4.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/5.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/6.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/7.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11">
            <img class="d-block img-fluid" src="./img/8.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/9.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/10.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/11.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/12.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/13.jpeg" alt="Third slide" width="720" height="480">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/14.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/15.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/16.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/17.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/18.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/19.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/20.jpg" alt="Third slide" width="1000" height="1000">
        </div>
        <div class="carousel-item col-md-11" >
            <img class="d-block img-fluid" src="./img/21.jpg" alt="Third slide" width="1000" height="1000">
        </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>