<div class="col-md-12" align="center">
    <hr>
    <h1>Criptografía post-cuántica:</h1>
</div>
<div class="container">
    <h2>Conferencista:</h2>
    <h3>Lic. Diego Armando Retana Garcia</h3>
    <h5>Existirán más diferencias entre una computadora cuántica y una computadora actual. Que las diferencias entre una
        computadora actual y un Abaco, en todo caso hoy en día contamos con unos ábacos muy eficientes.</h5>
    <hr>

    <p>
        Es la ciencia que desarrolla técnicas matemáticas para cifrar información.
        Para hacer esto existen varios métodos algunos de ellos son la simétrica, asimétrica, curva elíptica, RSA, des y 3des .
    </p>
    <p>
        La Criptografía simétrica:
        Esta tiene una sola llave para cifrar y descifrar un mensaje con lo cual surge un problema nombrado distribución de clave. Este problema está dado por que ambas personas tienen que conocer la clave para cifrar y descifrar información y cualquiera al conocerla podría acceder a los mensajes.
        Para calcular el total de llaves para cierto número de usuarios la formula seria Keys=((número de personas)*(número de personas-1))/2
    </p>
    <p>

        La criptografía Asimétrica:
        Este tipo de criptografía resuelve el problema de la llave a el tener dos llaves una pública y otra privada. La pública la podría conocer cualquiera y con ella cifrar información y enviarla. Lo único que la persona tiene que hacer al recibir el mensaje es usar su llave privada y descifrar el mensaje por medio de su clave privada.
    </p>
    <p>

        Un algoritmo criptográfico de reducción:
        extrae un valor resumen de un contenido digital de forma que cualquier cambio en el contenido digital se refleja en dicho valor resumen. La simple modificación de un bit del mensaje es suficiente para que el valor resumen obtenido sea distinto.

    </p>
    <p>

        La ley de Moore

    </p>
    <p>

        La Ley de Moore es un término informático originado en la década de 1960 y que establece que la velocidad del procesador o el poder de procesamiento total de las computadoras se duplica cada doce meses. En un principio, la norma no era muy popular pero sí se sigue utilizando hasta el día de hoy. Quien la acuñó fue Gordon Moore, el cofundador de la conocida empresa Intel de microprocesadores. Cuando las revistas de electrónica le preguntaron cómo se desarrollaría el área en los próximos diez años, él escribió un artículo en el que predijo el funcionamiento del mercado.

    </p>
    <p>
        La computación cuántica:
        Es el nuevo paso en el desarrollo de la tecnología informática porque permitiría resolver tareas que a los equipos convencionales le llevaría miles de millones de años como descifrar el Rca.
        La piedra fundacional son los qubit, que se basan en elementos cuánticos, como átomos fríos, iones o fotones, que por su naturaleza pueden estar en superposición.

    </p>
</div>