<div class="col-md-12" align="center">
    <hr>
    <h1>Hacia donde va la investigacion de las ciencias de la informacion</h1>
</div>
<div class="container">
    <h2>conferencista:</h2>
    <h3>Dra. Xiomara Penélope Zaldivar Colado</h3>

    <hr>

    <p>
        #Programa nacinal de Posgrado
        U.A.S. - P.N.P.C.
    </p>
    <p>
        -Programa Integral
        -Maestria y Doctorado en Ciencias de la Informacion
        -Computacion y Sistemas
        -Geomatica.
    </p>
    <p>
        Por que es importante?
        porque estan avalados y son de calidad
        -son actualizables
        -con profesores altamente capacitados
        -con minimo tres profesores de maestria y minimo nueve de doctorado por cada programa.
    </p>
    <p>
        Becas?
        CONACIT
        por mes en Maestria: 10,300 durante 24 meses.
        por mes en Doctorado: 13,500 durante 12 meses.
        en doctorado se vincula al trabajo+movilidad en conjunto al estudio.
    </p>
    <p>
        Que se hace actualmente en la investigacion?
        -procesamiento y analisis de informacion espacial en el analisis de geosismos en mexico
        -mas ejemplos-
    </p>
    <p>
        Que hacen los egresados en PCI - estudios en doctorados.
    </p>
    <p>
        -los programas estan incorporados en la academia.
        -tambien en el desarrollo privado
    </p>
    <p>
        vinculos: Industria, Academia, IPN, Universidad de Arizona. se hacen de forma Nacional e Internacional
    </p>
    <p>
        Que certificacion de Ingles se obtiene en estos programas de doctorado y maestria?
        -Depende del programa
    </p>
    <p>
        Minimo para egresar:
        -promedio 8
        -ingles (450 puntos minimo)
        -Examen Seneval
    </p>
    <p>
        Los programas son por estado,  Y las convocatorias para inscripción son solo en ciertos estados de la república.
    </p>
</div>