<div class="container" align="center">
    <hr>
    <h1>Herramientas y técnicas para incrementar la calidad en el código de tu proyecto.</h1>
</div>
<div class="container">
    <h2>conferencista:</h2>
    <h3>Ing. Eduardo Figarola Mota</h3>
    <h5>El Software perfecto no existe, solo existe software de gran calidad.</h5>
    <hr>
    <p>

    Lo primordial para que los desarrolladores desarrollen buen código es mantenerlos contentos con lo que ellos quieran
    comer y de paso una michelada, para esto se contrata un becario el cual es el que va por la despensa de la semana.
    También se tienen que mantener relajados para lo cual se recomienda contratar una masajista la cual les de masaje
    una vez a la semana.
    </p>
    <p>

    </p>
    <ul class="mio">
        <li>
        Para que un Software sea de calidad hay 8 puntos que debe de cumplir:
        </li>
        <ul>
        <li>primero tiene que cumplir con su propósito.</li>
        <li>Informar adecuadamente cuando ocurre un problema.</li>
        <li>Tiene pruebas</li>
        <li>Se entiende su intención con solo leerlo</li>
        <li>Sigue un estilo de código desde el inicio</li>
        <li>Utiliza un flujo de colaboración adecuado</li>
        <li>Implementa correctamente los patrones de diseño</li>
        <li>Se puede utilizar intuitivamente</li>
        </ul>
    </ul>


    <ul class="mio">
        <li>
            Sistemas detectores de errores:
        </li>
            <ul>
                <li>Bugsnag</li>
                <li>Sentry</li>
                <li>Honey badger</li>
                <li>Airbreak.io</li>
                <li>Guitest</li>
                <li>Integration</li>
            </ul>

    </ul>


    <ul class="mio">
        <li>
            Legibilidad y estilo:
        </li>
            <ul>
                <li>Es lint</li>
            </ul>

    </ul>



    <p>
    Una práctica muy importante es hacer un buen control de versiones para ello existen unas herramientas muy buenas
    llamadas git y github las cuales trabajan juntas haciendo un control de versiones del programa que se esté
    desarrollando. En este programa puedes hacer varias ramas en el cual llevar el control de versiones, para esto se
    recomienda hacer las siguientes ramas mas las que crea necesarias.
    Una rama estable para producción en la cual se encuentre el Software ya probado y sin fallas.
    Una rama para el ambiente de producción en la cual se encuentre el Software a modificar.
    Y definir un estándar para los nombres de las ramas de trabajo individual.
    </p>
    <p>
    También se recomienda hacer un estándar para los mensajes de los commits así como también para como escribir el
    código o nombrar a las variables esto hará que sea más fácil revisar el código.
    </p>
</div>