<div class="col-md-12" align="center">
    <hr>
    <h1>Impacto de las redes en el IoT.</h1>
</div>
<div class="container">
    <h2>conferencista:</h2>
    <h3>M.C. Héctor Jesús Macías Figueroa</h3>
    <h5>Vive como si fueras a morir mañana, aprende como si fueras a vivir siempre
        (Gandhi).</h5>
    <hr>

    <p>
        Cuando se lleve a cobo el iot la mayoría de las cosas estarán conectadas por wifi o bluetooth y serán demasiados dispositivos conectados a la red para ello se esta llevando a cabo el protocolo sicbic.

        Barcelona es una de las primeras ciudades la cual esta siendo conectada 100% a internet.

        Buscar acerca de barccelona

        Para que el iot se lleve a cabo primero tiene que pasar por cuatro fases:
        Conectividad:
        En esta fase se llevaría a cabo la conexión de todos los dispositivos a el internet, actualmente solo se encuentran conectados solo el 1% de los dispositivos a el internet.
        Así que automaticen lo que quieran el límite es su imaginación.

        Economía interconectada:
        Para esto se está llevando a cabo la utilización de una moneda electrónica la cual pueda ser el pago de todos los trabajadores

        Experiencia cooperativa:

        IdT:
    </p>
</div>