<div align="center">
    <hr>
    <h1 class="home">Jornada Academica de Computacion 2017</h1>
    <p></p>
    <hr>
</div>
<div class="container-fluid row">

    <div class="col-md-6" align="center">
        <img src="img/f1.jpeg" alt="" class="col-md-12">
    </div>
    <div class="col-md-6" align="center">
        <img src="img/f2.jpeg" alt="" class="col-md-12">
    </div>
</div>