<div class="col-md-12" align="center">
    <hr>
    <h1>Internet del todo </h1>
</div>
<div class="container">
    <h2></h2>
    <h3>El dinero hace a las personas ricas, el conocimiento hace a las personas sabias, pero la humanidad hace grandes
        personas.</h3>

    <hr>
    <div align="center">
        <iframe width="720" height="480" src="https://www.youtube.com/embed/m6sUemSoti4" frameborder="0"
                allowfullscreen></iframe>

    </div>

    <p>
        La onu declaro al internet como derecho humano.
    </p>
    <p>
        Hoy en día se está desarrollando una aplicación para que con la credencial del alumno se tome asistencia a las
        clases, así como también la asistencia a el laboratorio y con ello hacer estadísticas para el mejor
        funcionamiento de este.
    </p>
    <p>
        Otro proyecto muy importante del internet del todo es conectar la ropa a internet con muchos sensores los cuales
        estén midiendo temperatura, presión y otros signos vitales los cuales estén enviando información a su doctor de
        cabecera así como a familiares cercanos para que si esta persona esta propensa a sufrir infartos o alguna
        enfermedad acudan a ayudarlo.
    </p>
    <p>
        Personas:
    </p>
    <p>
        conectar personas de maneras más pertinentes y valiosas.
        Hoy en día, la mayoría de las personas se conecta mediante el uso de dispositivos y redes sociales. A medida que
        IdT evolucione, nos conectaremos de maneras nuevas y valiosas. Los dispositivos para colocar en la ropa ya están
        cambiando la manera en que nos conectamos.
    </p>
    <p>
        Procesos:
    </p>
    <p>
        entregar la información correcta a la persona (o máquina) apropiada en el momento oportuno.
        Con los procesos correctos, las conexiones se vuelven más valiosas ya que la información correcta se brinda a la
        persona indicada en el momento justo y de la manera más relevante.
    </p>
    <p>
        Datos:
    </p>
    <p>
        convertir datos en inteligencia para tomar decisiones mejores.
        Con la ayuda del análisis, las cosas conectadas ofrecen, cada vez más, no solo datos sino también inteligencia e
        información práctica para las personas y las máquinas a fin de tomar mejores decisiones y obtener mejores
        resultados.
    </p>
    <p>
        Cosas:
    </p>
    <p>
        dispositivos físicos y objetos conectados a Internet y entre sí para lograr una toma de decisiones
        inteligente
        Cada vez con más frecuencia, los objetos físicos que se conectan a Internet y entre sí detectan más datos, se
        vuelven sensibles al contexto y ofrecen más información experimental para ayudar a las personas y las máquinas.
    </p>
    <p>
        Para el año 2020 50 mil millones de dispositivos estarán conectados a el internet
    </p>
    <p>
        Barcelona ya tiene internet del todo mientras que aquí en México lo más cerca que se tiene a el internet del
        todo es la paga de multas o sacar
    </p>

</div>