<div class="col-md-12" align="center">
    <hr>
    <h1>Panel de emprendedores. Orgullo Tigre.</h1>
</div>
<div class="container">
    <h4>Es bueno viajar, pero regresen y compartan lo aprendido.</h4>
    <hr>

    <p>
    ¿Es primordial conocer otra lengua para ser emprendedor?
    </p>
    <p>
    El futuro viene más exigente y es primordial conocer el inglés puesto que este es el idioma de los negocios.
    </p>
    <p>
    ¿Qué es más importante emplearse o emprender?
    </p>
    <p>
    Si quieres viajar sería más importante emprender, si fracasas en tu proyecto es más probable que en el siguiente proyecto puedas emprender puesto que aprenderás de tu fracaso.
    </p>
    <p>
    ¿Qué tan difícil fue decidirse a ser empresario?
    </p>
    <p>
    No es difícil decidirse solo es algo preocupante. Luchen por su pasión y sigan intentándolo hasta que lo logren.
    </p>
    <p>
    ¿Existe en Tepic Donde emprender?
    </p>
    <p>
        Para emprender no es necesario salirse de Tepic para emprender, aunque si hay mejores lugares en otros lados para emprender.
    </p>
    <p>
    Gracias a esto hay una fuga de talentos en Tepic, puesto que los alumnos prefieren irse a otros lugares donde hay mejores oportunidades de trabajo y llevar acabo sus proyectos.
    </p>
</div>