<div class="col-md-12" align="center">
    <hr>
    <h1>Realidad Virtual y Aumentada</h1>
</div>
<div class="container">
    <hr>

    <p>
        La realidad virtual ha existido desde hace mucho aproximadamente desde los años 50 con las películas de ciencia
        ficción como star wars en la que salían hologramas o en la película termineitor en la cual se podían reconocer
        patrones como cuando.
    </p>
    <p>
        La realidad aumentada hoy en día se le ha dado diferentes usos los mas comunes son los simuladores para entrenar
        a soldados a la hora de saltar en paracaídas, simuladores de manejo para enseñar a la gente a manejar, otra
        aplicación de la realidad aumentada son los jugos como pokemon go
    </p>
</div>